name: Build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Build with Gradle
      run: ./gradlew build remapJar

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: fishing-sound-filter
        path: build/libs/fishing-sound-filter-1.0.0.jar
