name: Build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew build remapJar

    - name: List build/libs
      run: ls -R build/libs || echo "build/libs not found"

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: fishing-sound-filter
        path: build/libs/*.jar
